@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@700&family=Libre+Franklin:wght@100&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Arimo', sans-serif;
    background-image: linear-gradient( 109.6deg,  rgba(62,161,219,1) 11.2%, rgba(93,52,236,1) 100.2% );
    text-align: center;
    color: white;
}

.container {
    display: flex;
    flex-direction: center;
    align-items: center;
    margin-top: 12%;
    margin-left: 39%;
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    padding: 2em;
    border-radius: 10px;
    color: white;
}

.botao {
    background-color: slateblue;
    color: white;
    font-size: 15px;
    border: none;
    padding: 1em;
    border-radius: 6px;
    box-shadow: 1px 1px 6px gray;
    cursor: pointer;    
}

.botao:hover {
    background-color: steelblue;
}

.first-step {
    display: none;
}

.inputUser {
    padding: 5px;
    border-radius: 5px;
    border: none;
    outline: none;
}

.first-step,
.second-step {
    display: none;
}

